.elementor-377 .elementor-element.elementor-element-06af190 {
    letter-spacing: -0.17px;
}

.elementor-377 .elementor-element.elementor-element-f3e1ded .elementor-spacer-inner {
    --spacer-size: 40px;
}

.elementor-377 .elementor-element.elementor-element-c390967>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-377 .elementor-element.elementor-element-73f6b63 .clients_image {
    justify-content: center;
    padding: 0px 15px 0px 15px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.4s;
}

.elementor-377 .elementor-element.elementor-element-73f6b63 .wgl-clients {
    align-items: center;
}

.elementor-377 .elementor-element.elementor-element-73f6b63 .slick-track {
    align-items: center;
    display: flex;
}

.elementor-377 .elementor-element.elementor-element-284834b .elementor-spacer-inner {
    --spacer-size: 44px;
}

.elementor-377 .elementor-element.elementor-element-0fb9809 {
    text-align: left;
}

.elementor-377 .elementor-element.elementor-element-0fb9809 .elementor-heading-title {
    color: #030925;
}

.elementor-377 .elementor-element.elementor-element-3ca040f .elementor-spacer-inner {
    --spacer-size: 9px;
}

.elementor-377 .elementor-element.elementor-element-dc00994 .elementor-spacer-inner {
    --spacer-size: 40px;
}

.elementor-377 .elementor-element.elementor-element-021c6ff img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-377 .elementor-element.elementor-element-4e5ba0a .elementor-spacer-inner {
    --spacer-size: 40px;
}

.elementor-377 .elementor-element.elementor-element-d232b84 .elementor-spacer-inner {
    --spacer-size: 40px;
}

.elementor-377 .elementor-element.elementor-element-26758fe {
    width: 800px;
    max-width: 800px;
}

.elementor-377 .elementor-element.elementor-element-ae49e03 .elementor-spacer-inner {
    --spacer-size: 32px;
}

.elementor-377 .elementor-element.elementor-element-ed42fdf .elementor-spacer-inner {
    --spacer-size: 24px;
}