.elementor-2656 .elementor-element.elementor-element-28ea1d47 .dbl__title {
    line-height: 56px;
}

.elementor-2656 .elementor-element.elementor-element-28ea1d47 .dbl-title_1 {
    color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-28ea1d47 .dbl__subtitle {
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.elementor-2656 .elementor-element.elementor-element-331564e8 {
    color: #FFFFFF;
    font-size: 18px;
}

.elementor-2656 .elementor-element.elementor-element-331564e8>.elementor-widget-container {
    margin: -5px 0px 0px 0px;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .wgl-donation__title {
    margin: 0px 0px 20px 0px;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .wgl-donation__subtitle {
    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    color: #ffac00;
    margin: 0px 0px 10px 0px;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .card__container {
    margin: -67px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .wgl-donation__card {
    border-radius: 10px 10px 10px 10px;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .wgl-donation__card:not([aria-hidden="true"]) .card__container {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .card__title {
    font-family: "Quicksand", Sans-serif;
    font-size: 0px;
    font-weight: 700;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .progress__bar {
    margin: 42px 0px 20px 0px;
    background-color: #FFFFFF40;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .bar__container {
    background-color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .bar__label {
    color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .stats__info .stats__value {
    color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .stats__raised .stats__value {
    color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .stats__lack .stats__value {
    color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4 .stats__label {
    color: #FFFFFF;
}

.elementor-2656 .elementor-element.elementor-element-79a6b9f4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2656 .elementor-element.elementor-element-50a32c68 .elementor-spacer-inner {
    --spacer-size: 20px;
}

.elementor-2656 .elementor-element.elementor-element-697cc7dc .wgl-button {
    text-transform: uppercase;
    color: #232323;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.elementor-2656 .elementor-element.elementor-element-697cc7dc .wgl-button:hover,
.elementor-2656 .elementor-element.elementor-element-697cc7dc .wgl-button:focus {
    color: #FFFFFF;
    background-color: #FFFFFF00;
    border-color: #FFFFFF;
}

@media(max-width:767px) {
    .elementor-2656 .elementor-element.elementor-element-28ea1d47 .dbl__title {
        font-size: 28px;
        line-height: 1.5em;
    }
    .elementor-2656 .elementor-element.elementor-element-79a6b9f4 .progress__stats {
        margin: 0px 0px 0px 0px;
    }
}